# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database
*.sqlite3

# Poetry
math_service/pyproject.toml
math_service/.flake8
